/* Layout */

body {
	background-color: #CCC;
}

#page {
	width: 800px;
	margin: 0 auto;
	background-color: #FFF;
	line-height: 1.4;
	box-shadow: 3px 3px 3px #AAA;
	-moz-box-shadow: 3px 3px 3px #AAA;  
	-webkit-box-shadow: 3px 3px 3px #AAA;
}

#header {
}

#header h1{
	font-size: 120%;
	font-weight: bold;
	padding: 1em 0 0 1em;
}

#header h2{
	margin: 0.5em 0 1em 2em;
	color:#666;
}

#header .nav {
	border-top:1px solid #EEE;
	text-align: left;
	border-bottom:1px solid #DDD;
	box-shadow: 0px 1px 3px #DDD;
	-moz-box-shadow: 0px 1px 3px #DDD;  
	-webkit-box-shadow: 0px 1px 3px #DDD;
	margin-bottom:3px;
}

#header li {
	display:inline;
}

#header li a{
	display: inline-block;
	text-decoration: none;
	padding:0 20px;
	text-align: center;
	font-size:90%;
	color: #333;
}

#main h1, #main h2, #main h3, #main h4,
#header .nav,
#header li a{
	background-color: #EEE;
	background-image: url(../img/bg_menu.png);
}

#header li a:hover {
	color:#06A;
	background-position: 0px 80px;
}

#header span{
	background-position: 4px 50%;
	padding: 4px 5px 5px 30px;
	line-height:3;
}

#contents{
	display: -webkit-box;
    display: -moz-box;
}

#main{
    background: #FFF;
    padding: 15px;
}

#main h1 {
	padding:4px;
	font-size:130%;
	font-weight: bold;
	background-position: 0px -20px;
	margin-bottom:1em;
}

#main h2 {
	padding:4px;
	font-size:120%;
	font-weight: bold;
	background-position: 0px -10px;
	margin-bottom:0.5em;
}

#main h3,
#main h4 {
	padding:4px;
	font-size:110%;
	background-position: 0px -100px;
	margin-bottom:0.5em;
}

#main h3 {
	font-weight: bold;
}

a.btn{
	color:#333;
	display: inline-block;
	padding: 6px 20px 6px 32px;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: #FFF;
	background-position: 6px 50%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 1em;;
	font-weight:bold;
}

a.btn:hover{
	color:#000;
	background-color: #DDD;
}


#main .section {
	margin-bottom:2em;
}


#main .section p{
	margin-bottom: 1em;
}

table.basic{
	border:3px double #AAA;
	width:100%;
}

table.basic th,
table.basic td {
	border:1px solid #DDD;
	padding: 4px;
	line-height: 1.4;
}

table.basic thead th {
	background-color: #EEE;
	border-bottom: 2px solid #CCC;
}

table.basic tbody th {
	background-color: #FAFAFA;
}

#footer{
	padding:10px;
	background-color: #DDD;
	border-top: 1px solid #CCC;
	text-align: right;
}
